{% extends '_layouts/in_app.html.twig' %}

{% block title %}Portefeuille {{ wallet.label }} - Bricount{% endblock %}

{% block content %}
    <div class="row mb-3 align-items-center">
        <div class="col-md-6 p-2">
            <h1>{{ wallet.label }}</h1>
        </div>
        <div class="col-md-6 text-end p-2 text-bold">
            <a
                href="{{ path('wallets_add_user', {"uid": wallet.uid}) }}"
                class="btn btn-primary"
            >
                + Ajouter un utilisateur
            </a>
        </div>
    </div>


    <h4>Montant total : {{ wallet.totalAmount / 100 }}</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Qui</th>
            <th scope="col">Libellé</th>
            <th scope="col">Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.createdDate | date('d/m/Y') }}</td>
                <td>{{ expense.createdBy.name }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.amount / 100 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% for i in 1..maxPaginationPage %}
        <a
            class="btn btn-{% if page == i %}outline-{% endif %}primary mr-2"
            href="{{ path("wallets_show", {"uid": wallet.uid}) }}?page={{ i }}&limit={{ limit }}"
        >
            {{ i }}
        </a>
        {% endfor %}
    </div>
{% endblock %}

